<!-- <app-header>
</app-header> -->
<div style="margin-top: 80px;"></div>
<h2 style="text-align: center;">Your Orders</h2>
<div *ngIf="isLoggedIn; else loginPrompt">
<div *ngIf="orders.length > 0; else emptyCart">
   <!-- <h2 style="text-align: center;">Your Orders</h2>-->
    
    <div class="order-container">
      <div *ngFor="let order of orders" class="order-card">
        <div class="order-card-grid">
          <!-- Image -->
          <div class="order-card-image image">
            <img [src]="order.product?.image" alt="{{ order.product?.product_name }}" />
          </div>
  
          <!-- Product Details -->
          <div class="order-card-details " style="text-align: center;">
            <!-- <p>Quantity: {{ order.product_Quantity }}</p> -->
            <p class="price">Product Price: Rs {{ order.product?.product_Price }}</p>

            <p>Quantity: {{order.product_Quantity}}</p>
           
            <p>Date of Order: {{ order.orderDateTime }}</p>
           
            <b>Total Amount:</b>{{ order.product_TotalAmount }}
          </div>
          <div style="margin-top: 60px; margin-right: 40px;">
            <button class="cancel-button" (click)="delete_order(order.order_id)">Order Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #emptyCart>
    <div class="empty-cart">
      <p>Your orders are currently empty.</p>
      <a class="continue-shopping-button" routerLink="">Continue Shopping</a>
    </div>
  </ng-template>
</div>

<ng-template #loginPrompt>
  <div class="login-prompt">
<p>Login Required to go your order</p>

<button class="signin-button" (click)="signin_page()">Sign In</button>

      
      </div>
    </ng-template>

  