<!-- <app-header>
</app-header> -->

<div style="margin-top: 80px;"></div>
<div *ngIf="username" class="welcome-message">
    <p>Welcome, {{ username }}!</p> 
  </div>





  <!-- <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>
  </div> -->

  <div class="search-container">
    <form (ngSubmit)="onSearch()">
      <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchQuery" />
      <button type="submit">Search</button>
    </form>
  </div>

   
  <!-- <div *ngIf="product && product.length > 0; else noProducts" class="products-container">
    <a *ngFor="let item of product" class="product-container" routerLink="product_detail/{{item.product_id}}">
      <img [src]="item.image" alt="">
      <p class="product-name">{{ item.product_name }}</p>
      <p class="product-price">Rs {{ item.product_Price }}</p>
    </a>
  </div> -->
  
  <!-- No Products Found Message -->
  <!-- <ng-template #noProducts>
    <div class="no-products">
      <p>No products found.</p>
    </div>
  </ng-template> -->









<div *ngIf="product && product.length > 0; else noProducts" class="products-container">
    <a *ngFor="let item of product" class="product-container" routerLink="product_detail/{{item.product_id}}" >
      <img src="{{item.image}}" alt="">
      <p class="product-name">{{item.product_name}}</p>
      <p class="product-price">Rs {{item.product_Price}}</p>
    </a>
  </div>
  <!-- No Products Found Message -->
  <ng-template #noProducts>
    <div class="no-products">
      <p>No products found.</p>
    </div>
  </ng-template>
