
<!-- <ul>
  <li><button class="active" routerLink="">Home</button></li>
  <li *ngIf="isAdmin()"><button (click)="category_function()">Category</button></li>
  <li *ngIf="isAdmin()"><button (click)="product_function()">Product</button></li>
  <li *ngIf="isAdmin()"><button (click)="user_function()">User</button></li>
  <li *ngIf="!isLoggedIn()"><button (click)="signup_function()">Signup</button></li>
  <li *ngIf="!isLoggedIn()"><button (click)="sign_function()">Signin</button></li>
  <li *ngIf="!isAdmin()"><button (click)="cart_function()">Cart</button></li>
  <li *ngIf="!isAdmin()"><button (click)="order_function()">Orders</button></li>
  
  <li *ngIf="isLoggedIn() && isUser()"><button (click)="logout_function()" >Logout</button></li>
 
  <li *ngIf="isLoggedIn() && isAdmin()"><button (click)="adminlogout_function()">AdminLogout</button></li>
</ul> -->
<!--f="!isAdmin()"><a routerLink="admin">Adminlogin</a></li>-->

<!-- <ul class="nav-menu">
  <h2>My_ShoppingCart</h2>
  <li><button class="nav-button active" routerLink="">Home</button></li>
  <li *ngIf="isAdmin()"><button class="nav-button" (click)="category_function()">Category</button></li>
  <li *ngIf="isAdmin()"><button class="nav-button" (click)="product_function()">Product</button></li>
  <li *ngIf="isAdmin()"><button class="nav-button" (click)="user_function()">User</button></li>
  <li *ngIf="!isLoggedIn()"><button class="nav-button" (click)="signup_function()">Register</button></li>
  <li *ngIf="!isLoggedIn()"><button class="nav-button" (click)="sign_function()">Login</button></li>
  <li *ngIf="!isAdmin()"><button class="nav-button" (click)="cart_function()">Cart</button></li>
  <li *ngIf="!isAdmin()"><button class="nav-button" (click)="order_function()">Orders</button></li>
  <li *ngIf="isLoggedIn() && isUser()"><button class="nav-button" (click)="logout_function()">Logout</button></li>
  <li *ngIf="isLoggedIn() && isAdmin()"><button class="nav-button" (click)="adminlogout_function()">AdminLogout</button></li>
</ul> -->

<!-- <ul class="nav-menu">
  <h2 class="header-title">My_ShoppingCart</h2>
  <div class="left-nav">
    <li><button class="nav-button active" routerLink="">Home</button></li>
    <li *ngIf="isAdmin()"><button class="nav-button" (click)="category_function()">Category</button></li>
    <li *ngIf="isAdmin()"><button class="nav-button" (click)="product_function()">Product</button></li>
    <li *ngIf="isAdmin()"><button class="nav-button" (click)="user_function()">User</button></li>
    <li *ngIf="!isLoggedIn()"><button class="nav-button" (click)="signup_function()">Register</button></li>
    <li *ngIf="!isLoggedIn()"><button class="nav-button" (click)="sign_function()">Login</button></li>
  </div>
  <div class="right-nav">
    <li *ngIf="!isAdmin()"><button class="nav-button" (click)="cart_function()">Cart</button></li>
    <li *ngIf="!isAdmin()"><button class="nav-button" (click)="order_function()">Orders</button></li>
    <li *ngIf="isLoggedIn() && isUser()"><button class="nav-button" (click)="logout_function()">Logout</button></li>
    <li *ngIf="isLoggedIn() && isAdmin()"><button class="nav-button" (click)="adminlogout_function()">AdminLogout</button></li>
  </div>
</ul> -->


<ul class="nav-menu">
  <h2 class="header-title">My_ShoppingCart</h2>
  <div class="left-nav">
    <li><button class="nav-button active" routerLink="">Home</button></li>
    <li *ngIf="isAdmin()"><button class="nav-button" (click)="category_function()">Category</button></li>
    <li *ngIf="isAdmin()"><button class="nav-button" (click)="product_function()">Product</button></li>
    <li *ngIf="isAdmin()"><button class="nav-button" (click)="user_function()">User</button></li>
    <li *ngIf="!isLoggedIn()"><button class="nav-button" (click)="signup_function()">Register</button></li>
    <li *ngIf="!isLoggedIn()"><button class="nav-button" (click)="sign_function()">Login</button></li>
  </div>
  <div class="right-nav">
    <li *ngIf="!isAdmin()"><button class="nav-button" (click)="cart_function()">Cart</button></li>
    <li *ngIf="!isAdmin()"><button class="nav-button" (click)="order_function()">Orders</button></li>
    <li *ngIf="isLoggedIn() && isUser()"><button class="nav-button" (click)="logout_function()">Logout</button></li>
    <li *ngIf="isLoggedIn() && isAdmin()"><button class="nav-button" (click)="adminlogout_function()">AdminLogout</button></li>
  </div>
</ul>
